[Unit]
Description=ngrok
After=network.target

[Service]
Type=simple
User=user
ExecStart=/snap/bin/ngrok start --all --config /home/user/.ngrok2/ngrok.yml
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target
