[Unit]
Description=ngrok
After=network.target

[Service] 
ExecStart=/snap/bin/ngrok start torch --config /home/ryan/.ngrok2/ngrok.yml -log=stdout > $HOME/ngrok.log &
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=3
Type=simple

[Install]
WantedBy=multi-user.target